In [1]:
!pip install pandas
!pip install scikit-learn
!pip install pyproj

Requirement already satisfied: pandas in c:\users\yegmo\appdata\local\programs\python\python39\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\yegmo\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\yegmo\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\yegmo\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\yegmo\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\yegmo\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: scikit-learn in c:\users\yegmo\appdata\local\programs\python\python39\lib\site-packages (1.2.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\yegmo\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.24.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\yegmo\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\yegmo\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\yegmo\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (3.1.0)

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\yegmo\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pyproj in c:\users\yegmo\appdata\local\programs\python\python39\lib\site-packages (3.4.1)
Requirement already satisfied: certifi in c:\users\yegmo\appdata\local\programs\python\python39\lib\site-packages (from pyproj) (2022.12.7)

WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the 'C:\Users\yegmo\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [2]:
import numpy as np
import pandas as pd
import glob
import os
import pyproj
from sklearn.neighbors import NearestNeighbors

In [3]:
input_root_path = "P:\SALMALIS Lab\Work Zone Dataset"
weather_path = "E:\OneDrive - UBC\Work Zone\data\WeatherInfo"
output_root_path = "../"

In [4]:
def load_csv_to_df(files, filename=None, is_excel=False):
    if is_excel:
        df = pd.concat((pd.read_excel(f) for f in files), ignore_index=True)
    else:
        df = pd.concat((pd.read_csv(f, skipinitialspace = True) for f in files), ignore_index=True)

    if filename:
        df.to_csv(os.path.join(output_root_path, filename), header = True, index=True)
    return df

In [5]:
travel_t = pd.read_csv(os.path.join(input_root_path, 'TravelTime_HaveCellCoverage.csv'))
del travel_t[travel_t.columns[0]]
travel_t

C:\Users\yegmo\AppData\Local\Temp\ipykernel_15684\413896161.py:1: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  travel_t = pd.read_csv(os.path.join(input_root_path, 'TravelTime_HaveCellCoverage.csv'))

,AssetNumber,AssetIdentifier,CreatedDate,UnderConstructionTime,BaselineTime,DelayTime,State,SegmentLength,TravelDirect,Spread,...,Weather:Lat,Weather:Temp,Weather:Precip,Weather:WindSpd,Traffic:SiteNo,Traffic:IsTemporary,Traffic:AADT,Traffic:BaseYear,Traffic:CalculatedAADT,MaxSpeed
0,49831911074,Spread 3B,2022-05-03 17:59:55,2.20,2.13,0.07,OK,3.36,SB,Spread 3B,...,52.72,NaN,NaN,NaN,23-010NS,True,355.333333,2017.0,373.10,100.0
1,49831911074,Spread 3B,2022-05-03 17:57:32,2.20,2.13,0.07,OK,3.36,SB,Spread 3B,...,52.72,NaN,NaN,NaN,23-010NS,True,355.333333,2017.0,373.10,100.0
2,49831911074,Spread 3B,2022-05-03 17:55:23,2.20,2.13,0.07,OK,3.36,SB,Spread 3B,...,52.72,NaN,NaN,NaN,23-010NS,True,355.333333,2017.0,373.10,100.0
3,49831911074,Spread 3B,2022-05-03 17:53:29,2.20,2.13,0.07,OK,3.36,SB,Spread 3B,...,52.72,NaN,NaN,NaN,23-010NS,True,355.333333,2017.0,373.10,100.0
4,49831911074,Spread 3B,2022-05-03 17:51:45,2.23,2.13,0.10,OK,3.36,SB,Spread 3B,...,52.72,NaN,NaN,NaN,23-010NS,True,355.333333,2017.0,373.10,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1704313,86704972236,AP 6-A-66-A • NB • Macro Spiecapag JV • 1073.6,2021-05-01 18:40:12,1.38,1.48,0.00,OK,2.45,NB,Spread 5B,...,49.24,14.2,0.0,6.0,17-015W,True,617.333333,2013.0,666.72,NaN
1704314,86704972236,AP 6-A-66-A • NB • Macro Spiecapag JV • 1073.6,2021-05-01 18:45:11,1.38,1.48,0.00,OK,2.45,NB,Spread 5B,...,49.24,14.2,0.0,6.0,17-015W,True,617.333333,2013.0,666.72,NaN
1704315,86704972236,AP 6-A-66-A • NB • Macro Spiecapag JV • 1073.6,2021-05-01 18:50:10,1.38,1.48,0.00,OK,2.45,NB,Spread 5B,...,49.24,14.2,0.0,6.0,17-015W,True,617.333333,2013.0,666.72,NaN
1704316,86704972236,AP 6-A-66-A • NB • Macro Spiecapag JV • 1073.6,2021-05-01 18:51:07,1.37,1.48,0.00,OK,2.45,NB,Spread 5B,...,49.24,14.2,0.0,6.0,17-015W,True,617.333333,2013.0,666.72,NaN
1704317,86704972236,AP 6-A-66-A • NB • Macro Spiecapag JV • 1073.6,2021-05-01 18:55:09,1.37,1.48,0.00,OK,2.45,NB,Spread 5B,...,49.24,14.2,0.0,6.0,17-015W,True,617.333333,2013.0,666.72,NaN

In [6]:
assets = pd.read_csv(os.path.join(input_root_path, 'Recommended_Assets_Merged.csv'))
del assets[assets.columns[0]]
print(f'NaN:\n{assets.isna().sum()}')
assets

NaN:
Asset Number                0
Segment Name               50
Segment Length             51
Baseline                   52
Direct of Travel           50
Spread                     50
Traffic Impact             52
Road Type                  50
Traffic Control Setup      50
Easting                    72
Northing                   72
Most Recent Activation    181
Cell Coverage             499
UTM Zone                  121
dtype: int64

,Asset Number,Segment Name,Segment Length,Baseline,Direct of Travel,Spread,Traffic Impact,Road Type,Traffic Control Setup,Easting,Northing,Most Recent Activation,Cell Coverage,UTM Zone
0,62134790681,AP 3-B-12-A-1,2.746,1.72,NB,Spread 3B,High,Multi-Lane Undivided Roadways,SLAT,344630.96633,5.861839e+06,2/25/2022,NaN,11.0
1,10897197432,AP 3-B-12-A-1,2.746,1.73,SB,Spread 3B,High,Multi-Lane Undivided Roadways,SLAT,344630.96633,5.861839e+06,2/25/2022,NaN,11.0
2,12768050215,AP 3-B-13-A-1,2.970,1.92,NB,Spread 3B,High,Multi-Lane Undivided Roadways,SLAT,344922.86601,5.860906e+06,4/2/2022,NaN,11.0
3,56678162306,AP 3-B-13-A-1,2.970,1.92,SB,Spread 3B,High,Multi-Lane Undivided Roadways,SLAT,344922.86601,5.860906e+06,4/2/2022,NaN,11.0
4,86851077697,AP 3-B-13-A-3,18.000,NaN,NB,Spread 3B,High,Multi-Lane Undivided Roadways,SLAT,346092.86128,5.857159e+06,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,98870744606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
670,42000211195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0
671,29368392925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0
672,20575538255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
673,87398619166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0

In [7]:
weather_all = pd.DataFrame()

# for station_id in df_matched_weather_ids['Weather:StationID'].unique():
for folder_name in os.listdir(weather_path):
    if not folder_name.isnumeric():
        print(f'!! {folder_name} ignored.')
        continue
    station_id = int(folder_name)
    weather_joined_files = glob.glob(os.path.join(weather_path, f'{station_id}/*.csv'))
    weather_station = load_csv_to_df(weather_joined_files)

    weather_station.insert(loc=0, column='StationID', value=station_id)
    weather_station['Date/Time (LST)'] = pd.to_datetime(weather_station['Date/Time (LST)'])
    # df_weather_station['Date'] = df_weather_station['Date/Time (LST)'].dt.date
    weather_station.insert(loc=weather_station.columns.get_loc('Date/Time (LST)')+1, column='Date', value= weather_station['Date/Time (LST)'].dt.date)
    weather_station.insert(loc=weather_station.columns.get_loc('Time (LST)')+1, column='Hour', value= weather_station['Date/Time (LST)'].dt.hour)

    weather_all = pd.concat([weather_all, weather_station[['StationID', 'Longitude (x)', 'Latitude (y)', 'Date', 'Hour', 'Temp (°C)', 'Precip. Amount (mm)', 'Wind Spd (km/h)']]], axis=0)

weather_all.rename(columns = {'Temp (°C)':'Temp',
                             'Precip. Amount (mm)':'Precip',
                             'Wind Spd (km/h)':'WindSpd',
                             'Longitude (x)':'Long',
                             'Latitude (y)':'Lat'},
                  inplace=True)
weather_all.columns = ['Weather:' + str(col) for col in weather_all.columns]
weather_all = weather_all.drop_duplicates()
weather_all

!! daily 702 ignored.
!! Recommended Assets Merged.csv ignored.
!! SelectedWeatherStations_50KM.xlsx ignored.
!! Station Inventory EN.csv ignored.
!! WeatherInfo_Command_Lines_EN.txt ignored.
!! WeatherStationsInfo.zip ignored.

,Weather:StationID,Weather:Long,Weather:Lat,Weather:Date,Weather:Hour,Weather:Temp,Weather:Precip,Weather:WindSpd
0,1022,-120.80,50.11,2020-01-01,0,NaN,NaN,NaN
1,1022,-120.80,50.11,2020-01-01,1,NaN,NaN,NaN
2,1022,-120.80,50.11,2020-01-01,2,NaN,NaN,NaN
3,1022,-120.80,50.11,2020-01-01,3,NaN,NaN,NaN
4,1022,-120.80,50.11,2020-01-01,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
26299,998,-121.02,50.47,2022-09-30,19,NaN,NaN,NaN
26300,998,-121.02,50.47,2022-09-30,20,NaN,NaN,NaN
26301,998,-121.02,50.47,2022-09-30,21,NaN,NaN,NaN
26302,998,-121.02,50.47,2022-09-30,22,NaN,NaN,NaN
26303,998,-121.02,50.47,2022-09-30,23,NaN,NaN,NaN

In [8]:
weather =  weather_all.dropna(subset=['Weather:Temp', 'Weather:Precip', 'Weather:WindSpd']).copy()
# weather =  weather_all.dropna(subset=['Weather:Temp']).copy().reset_index(drop=True)
# weather = weather.dropna(subset=['Weather:Temp', 'Weather:Precip', 'Weather:WindSpd'])
weather['Weather:Date'] = pd.to_datetime(weather['Weather:Date'])
weather

,Weather:StationID,Weather:Long,Weather:Lat,Weather:Date,Weather:Hour,Weather:Temp,Weather:Precip,Weather:WindSpd
0,10223,-118.03,52.93,2020-01-01,0,-2.0,0.2,4.0
1,10223,-118.03,52.93,2020-01-01,1,-2.1,0.2,4.0
2,10223,-118.03,52.93,2020-01-01,2,-2.1,0.3,5.0
3,10223,-118.03,52.93,2020-01-01,3,-2.3,0.0,6.0
4,10223,-118.03,52.93,2020-01-01,4,-2.3,0.4,4.0
...,...,...,...,...,...,...,...,...
23875,8214,-119.29,52.13,2022-06-21,19,12.9,0.6,4.0
23876,8214,-119.29,52.13,2022-06-21,20,12.5,0.4,3.0
23877,8214,-119.29,52.13,2022-06-21,21,12.3,1.0,2.0
23878,8214,-119.29,52.13,2022-06-21,22,11.9,0.7,4.0
23879,8214,-119.29,52.13,2022-06-21,23,11.6,0.3,2.0

In [9]:
travel_t_na = travel_t[travel_t[['Weather:Temp', 'Weather:Precip', 'Weather:WindSpd']].isna().any(axis=1)]
# travel_t.dropna(subset=['Weather:Temp', 'Weather:Precip', 'Weather:WindSpd'])
travel_t_na

,AssetNumber,AssetIdentifier,CreatedDate,UnderConstructionTime,BaselineTime,DelayTime,State,SegmentLength,TravelDirect,Spread,...,Weather:Lat,Weather:Temp,Weather:Precip,Weather:WindSpd,Traffic:SiteNo,Traffic:IsTemporary,Traffic:AADT,Traffic:BaseYear,Traffic:CalculatedAADT,MaxSpeed
0,49831911074,Spread 3B,2022-05-03 17:59:55,2.20,2.13,0.07,OK,3.36,SB,Spread 3B,...,52.72,NaN,NaN,NaN,23-010NS,True,355.333333,2017.0,373.1,100.0
1,49831911074,Spread 3B,2022-05-03 17:57:32,2.20,2.13,0.07,OK,3.36,SB,Spread 3B,...,52.72,NaN,NaN,NaN,23-010NS,True,355.333333,2017.0,373.1,100.0
2,49831911074,Spread 3B,2022-05-03 17:55:23,2.20,2.13,0.07,OK,3.36,SB,Spread 3B,...,52.72,NaN,NaN,NaN,23-010NS,True,355.333333,2017.0,373.1,100.0
3,49831911074,Spread 3B,2022-05-03 17:53:29,2.20,2.13,0.07,OK,3.36,SB,Spread 3B,...,52.72,NaN,NaN,NaN,23-010NS,True,355.333333,2017.0,373.1,100.0
4,49831911074,Spread 3B,2022-05-03 17:51:45,2.23,2.13,0.10,OK,3.36,SB,Spread 3B,...,52.72,NaN,NaN,NaN,23-010NS,True,355.333333,2017.0,373.1,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1704013,55858030442,AP 6-A-Hwy 1 E-2 • NB • Macro Spiecapag JV • 1052,2021-04-15 18:15:10,1.33,1.27,0.06,OK,2.16,NB,Spread 5B,...,49.36,NaN,NaN,NaN,P-17-11E,NaN,NaN,NaN,NaN,100.0
1704014,55858030442,AP 6-A-Hwy 1 E-2 • NB • Macro Spiecapag JV • 1052,2021-04-15 18:20:10,1.33,1.27,0.06,OK,2.16,NB,Spread 5B,...,49.36,NaN,NaN,NaN,P-17-11E,NaN,NaN,NaN,NaN,100.0
1704015,55858030442,AP 6-A-Hwy 1 E-2 • NB • Macro Spiecapag JV • 1052,2021-04-15 18:25:11,1.28,1.27,0.01,OK,2.16,NB,Spread 5B,...,49.36,NaN,NaN,NaN,P-17-11E,NaN,NaN,NaN,NaN,100.0
1704016,55858030442,AP 6-A-Hwy 1 E-2 • NB • Macro Spiecapag JV • 1052,2021-04-15 18:30:09,1.28,1.27,0.01,OK,2.16,NB,Spread 5B,...,49.36,NaN,NaN,NaN,P-17-11E,NaN,NaN,NaN,NaN,100.0
1704017,55858030442,AP 6-A-Hwy 1 E-2 • NB • Macro Spiecapag JV • 1052,2021-04-15 18:35:11,1.28,1.27,0.01,OK,2.16,NB,Spread 5B,...,49.36,NaN,NaN,NaN,P-17-11E,NaN,NaN,NaN,NaN,100.0

In [10]:
def find_nearest_ws(asset, wss):
    dists = []
    for ws in wss:
        # dists.append(np.linalg.norm(asset - ws, axis=1)[0])
        dists.append(np.linalg.norm(asset - ws))
    # print('dists', dists, '\n')
    return np.argmin(dists)


# def convert_coordinates(easting, northing, utm_zone):
def convert_coordinates(asset_info):
    easting = asset_info['Easting']
    northing = asset_info['Northing']
    utm_zone = asset_info['UTM Zone']

    if np.isnan(easting) or np.isnan(northing) or np.isnan(utm_zone):
        # print("!!! DANGER")
        # print(easting, northing)
        return np.nan

    if pd.isna(utm_zone):
        if easting > 600000:
            utm_zone = 10
        elif easting < 600000:
            utm_zone = 11
        else:
            # if np.isnan(easting) or np.isnan(northing) or np.isnan(utm_zone):
            #     print("!!! DANGER")
            # print(easting, northing)
            # print(f"utm_zone = {utm_zone} \n")
            return np.nan

    utm_zone = int(utm_zone)

    proj_lonlat_to_EN = pyproj.Proj(proj='utm', zone=utm_zone, ellps='WGS84')

    # ea , no = proj_lonlat_to_EN(lon, lat)
    lon, lat = proj_lonlat_to_EN(easting, northing, inverse=True)

    return [lon , lat]

In [11]:
assets['Longitude_Latitude'] = assets.apply(convert_coordinates, axis = 1)
assets

,Asset Number,Segment Name,Segment Length,Baseline,Direct of Travel,Spread,Traffic Impact,Road Type,Traffic Control Setup,Easting,Northing,Most Recent Activation,Cell Coverage,UTM Zone,Longitude_Latitude
0,62134790681,AP 3-B-12-A-1,2.746,1.72,NB,Spread 3B,High,Multi-Lane Undivided Roadways,SLAT,344630.96633,5.861839e+06,2/25/2022,NaN,11.0,"[-119.30910111899807, 52.883778480895074]"
1,10897197432,AP 3-B-12-A-1,2.746,1.73,SB,Spread 3B,High,Multi-Lane Undivided Roadways,SLAT,344630.96633,5.861839e+06,2/25/2022,NaN,11.0,"[-119.30910111899807, 52.883778480895074]"
2,12768050215,AP 3-B-13-A-1,2.970,1.92,NB,Spread 3B,High,Multi-Lane Undivided Roadways,SLAT,344922.86601,5.860906e+06,4/2/2022,NaN,11.0,"[-119.30432219789675, 52.875482049886536]"
3,56678162306,AP 3-B-13-A-1,2.970,1.92,SB,Spread 3B,High,Multi-Lane Undivided Roadways,SLAT,344922.86601,5.860906e+06,4/2/2022,NaN,11.0,"[-119.30432219789675, 52.875482049886536]"
4,86851077697,AP 3-B-13-A-3,18.000,NaN,NB,Spread 3B,High,Multi-Lane Undivided Roadways,SLAT,346092.86128,5.857159e+06,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,98870744606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN
670,42000211195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN
671,29368392925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN
672,20575538255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN
673,87398619166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN

In [23]:
# type(asset_info[['Easting', 'Northing']].values)
counter = 0
for idx in travel_t_na.index:
    obs = travel_t.loc[idx]
    if np.isnan(obs['Weather:Temp']) or np.isnan(obs['Weather:Precip']) or np.isnan(obs['Weather:WindSpd']):
        # print('idx =', idx)
        # print('BEFORE', obs[['Weather:Temp', 'Weather:Precip', 'Weather:WindSpd']])

        weather_time_matched = weather[
            (obs['CreatedDate:Date'] == weather['Weather:Date']) &
            (obs['CreatedDate:Hour'] == weather['Weather:Hour'])]

        asset_info = assets[obs['AssetNumber'] == assets['Asset Number']]

        weather_coordinates = weather_time_matched[['Weather:Lat', 'Weather:Long']]

        nearest_idx = find_nearest_ws(asset_info['Longitude_Latitude'].values[0], weather_time_matched[['Weather:Long', 'Weather:Lat']].values)
        # print(nearest_idx)
        nearset_ws = weather_time_matched.iloc[nearest_idx]


        travel_t.loc[idx, 'Weather:Temp'] = nearset_ws['Weather:Temp']
        travel_t.loc[idx, 'Weather:Precip'] = nearset_ws['Weather:Precip']
        travel_t.loc[idx, 'Weather:WindSpd'] = nearset_ws['Weather:WindSpd']

        # print('\n\nAFTER', travel_t.loc[idx][['Weather:Temp', 'Weather:Precip', 'Weather:WindSpd']])

        counter += 1
counter

976130

In [24]:
travel_t.isna().sum()

AssetNumber                     0
AssetIdentifier                 0
CreatedDate                     0
UnderConstructionTime           0
BaselineTime                   22
DelayTime                      22
State                          85
SegmentLength                   0
TravelDirect                    0
Spread                          0
TrafficImpact                   0
RoadType                        0
TrafficControlSetup             0
CreatedDate:Date                0
CreatedDate:Weekday             0
CreatedDate:DayOfYear           0
CreatedDate:Year                0
CreatedDate:Month               0
CreatedDate:Day                 0
CreatedDate:Hour                0
CreatedDate:MinuteInDay         0
CreatedDate:Season              0
Weather:StationID               0
Weather:Long                    0
Weather:Lat                     0
Weather:Temp                    0
Weather:Precip                  0
Weather:WindSpd                 0
Traffic:SiteNo                  0
Traffic:IsTemporary        326167
Traffic:AADT               326167
Traffic:BaseYear           326167
Traffic:CalculatedAADT     326167
MaxSpeed                   347852
dtype: int64

In [ ]:
obs = travel_t_na.loc[1704012]

weather_time_matched = weather[
    (obs['CreatedDate:Date'] == weather['Weather:Date']) &
    (obs['CreatedDate:Hour'] == weather['Weather:Hour'])]
weather_time_matched

asset_info = assets[obs['AssetNumber'] == assets['Asset Number']]
asset_coordinate = asset_info[['Easting', 'Northing']]

# asset_coordinate
# weather_time_matched[['Weather:Long', 'Weather:Lat']]

nearest_idx = find_nearest_ws(asset_coordinate.values, weather_time_matched[['Weather:Long', 'Weather:Lat']].values)
print(nearest_idx)
weather_time_matched.iloc[nearest_idx]
# obs['AssetNumber']